@use './partials/variables' as *;
@use './partials/jumbotron' as *;


@import '~bootstrap/scss/bootstrap';

header {
    .top {
        background-color: $dc_primary;
    }
}

main {
    background-color: $dc_main_dark;

    .comic {

        .wrapper {
            color: $dc_white;
            margin: 1rem 0;

            img {
                height: 275px;
                transition: all 0.2s;

                &:hover {
                    scale: 1.2;
                }
            }
        }
    }

    .load_more {
        background-color: $dc_primary;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        background-color: $dc_primary;
        border: 2px solid $dc_primary;
        padding: 0.5rem 2rem;
        text-decoration: none;

    }
}