@use './variables' as *;

.jumbotron {
    height: 500px;
    background-image: url(../img/jumbotron.jpg);
    background-position: top;
    background-size: cover;
    color: $dc_white;

    .text {
        padding: 0 0.5rem;
        margin-bottom: -20px;
        margin-left: 300px;
        background-color: $dc_primary;
    }
}